:root{
    --cinza: rgb(64, 64, 64);
    --azulzinho: rgba(0, 255, 255, 0.719);
    --preto: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


header{
    background-color: var(--cinza);
    width: 100%;
    color: white;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.to-home{
    text-decoration: none;
    color: #FFF;
}

header nav a{
    text-decoration: none;
    color: rgb(204, 204, 204);
    
    font-size: 18px;
    margin-left: 10px;
}

header nav a:hover{
    color: white;
    font-weight: 700;
}

.logo{
    display: flex;
    align-items: center;
    margin: 10px 0px;
}

.logo img{
    max-width: 60px;
    margin-right: 10px;
}


/*Corpo principal da página*/
main .container{
    background: linear-gradient(rgba(0, 0, 0, .50),rgba(0,0,0,.50)100%) ,url('../img/background-theme.jpg');
    background-size: cover;

    height: 800px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.about{
    font-size: 32px;
    color: white;

    display: flex;
    align-items: center;
    flex-direction: column;

    text-align: justify;

    margin: 0 30px;
    max-width: 70%;
}

.about h2{
    margin-bottom: 50px;
    text-align: center;
}

.listas{
    margin-top: 50px;
}


.listas a{
    text-decoration: none;
    margin-left: 10px;
    padding: 5px 5px;
    border-radius: 6px;

    color: var(--cinza);
    background-color: var(--azulzinho);
}

.listas a:hover{
    background-color: rgba(40, 185, 185, 0.719);
    color: white;
}

footer .container{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--preto);
    color: white;
    font-weight: bold;

    height: 80px;
}









.container{
    margin: 0 auto;
}