@media screen and (min-width: 500px){
    .logo h2{
        display: inline-block;
    }

    .about iframe{
        height: 300px;
    }
}

@media screen and (min-width: 800px){
    .about{
        font-size: 1.55rem
    }

    .about iframe{
        height: 500px;
    }


    .info{
        flex-direction: row;
    }

    .info img{
        margin-right: 20px;
        margin-bottom: 0;
        height: 300px;
    }
}

@media screen and (min-width: 1200px){
    .about {
        width: 70%;
        font-size: 1.75rem
    }

    .about iframe{
        height: 670px;
    }
    
    .info{
        width: 70%;
    }

    form{
        width: 60%;
    }
}
